#navbar{
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0, 0.0975);
}
.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
div.post-tabs {
    margin-top: 16px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
    font-size: 14px;
}
div.post-author a{
    font-weight: normal;
    color: black;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.post-footer {
    text-align: right;
}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-like {
    float: right;
    color: #bebebe;
}
div.comment-liked {
    float: right;
    color: #bebebe;
}

div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}
a{
    text-decoration: none !important;
    /*color: #8590a6;*/
    color: #434343
}
.post-body{
    display: block;
    color: #262626;
    /*fon-size: 25px !important;*/
}
.post-body div{
    font-size: 20px;
}

.post-author{
    font-size: 12px;
}
.modal-content{
    border-radius: 4px !important;
}
.mail-box-svg{
    width: 28px !important;
    height: 28px !important;
    fill: rgba(0,0,0,.44);
}
#mail-box{
    margin-bottom: 0px !important;
    padding-bottom: 1px !important;
    padding-right: 8px !important;
}
.mail-box{
    background-color: #d9534f;
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: 27px;
    right: 12px;
    border-radius: 50%;
    float: right;
}
@media screen and (min-width:991px) {
    .dropdown-menu {
        width: 360px !important;
        position: absolute !important;
        left: -150px !important;

    }
}
.accept-reject-btns{
    display: block;
    padding: 3px 20px;
}
.accept-reject-btns a{
    width: 30%;
}
.icon-bar{
    background-color:  rgba(0,0,0,.44);
}
.mail-box-message{
    color: #3e7ac2;
    white-space: normal;
    margin-top: 10px;
}
.line-divider{
    width: inherit;
    height: 3px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.teammates{
    margin-bottom: 20px;
}
.teammate{
    display: block;
    float: left;
    height: 100px;
    width: 100px;
    margin-bottom: inherit;
}
.join{
    width: 20px;
}
.teammate-name{
    display: block;
    height: 10px;
    width: 50px;
    margin-top: 50px;
}
.radarChart{
    width: 300px;
    height: 300px;
}
#fileinfo{
    max-height: 600px;
    max-width: 600px;
}
img{
    max-height: 600px !important;
    max-width: 600px;
}