<ul class="posts">
    {% for post in posts %}
        {% set postContent = post.postContents.all()[-1] %}
        <li class="post">
            <div class="profile-thumbnail">
                <a href="{{ url_for('.user', username=postContent.post.author.username) }}">
                    <img class="img-rounded profile-thumbnail"
                         src="{{ postContent.post.author.gravatar(size=40) }}" alt="">
                </a>
            </div>
            <div class="post-content">
                <div class="post-date">
                    创建于{{ moment(post.created_time).format('LLL') }}
                    上次更新{{ moment(postContent.timestamp).format('LLL') }}
                </div>
                <div class="post-author">
                    <a href="{{ url_for('.user', username=postContent.post.author.username) }}">
                        {{ postContent.post.author.username }}
                    </a>
                </div>
                <div class="post-body">{{ postContent.body|safe }}</div>
                <div class="post-footer">
                    {% if current_user == postContent.post.author %}
                        <a href="{{ url_for('.edit', id=postContent.post.id) }}">
                            <span class="label label-primary">编辑</span>
                        </a>
                    {% elif current_user.is_administrator %}
                        <a href="{{ url_for('.edit', id=postContent.post.id) }}">
                        <span class="label label-danger">编辑[Admin]</span>
                        </a>
                    {% endif %}
                    <a href="{{ url_for('.post', id=postContent.post.id) }}">
                        <span class="label label-default">查看</span>
                    </a>

                </div>
            </div>

        </li>
    {% endfor %}

</ul>