<ul class="posts">
    {% for post in posts %}
        {% set postContent = post.postContents.all()[-1] %}
        <li class="post">
            <div class="profile-thumbnail">
                <a href="{{ url_for('.user', username=postContent.post.author.username) }}">
                    <img class="img-rounded profile-thumbnail"
                         src="{{ postContent.post.author.gravatar(size=40) }}" alt="">
                </a>
            </div>
            <div class="post-content">
                <div class="post-date">
                    更新于 {{ moment(postContent.timestamp).calendar() }}
                </div>
                <div class="post-author">
                    <a href="{{ url_for('.user', username=postContent.post.author.username) }}">
                        {{ postContent.post.author.username }}
                    </a>
                </div>

                <a class="post-body" href="{{ url_for('.post', id=postContent.post.id) }}">
                    <div class="">{{ postContent.body|safe }}</div>
                </a>

                <div class="post-footer">
                    {% if current_user == postContent.post.author %}
                        <a href="{{ url_for('.edit', id=postContent.post.id) }}">
                            <span class="label label-primary">编辑</span>
                        </a>
                    {% endif %}
                    {% if current_user.is_administrator() %}
                        <a href="{{ url_for('.edit', id=postContent.post.id) }}">
                        <span class="label label-danger">编辑[Admin]</span>
                        </a>
                    {% endif %}
                </div>
            </div>

        </li>
    {% endfor %}

</ul>