{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block page_content %}
    <div class="page-header">
        <form class="form" , role="form" , method="POST">
            {{ form.body.label }}
            {{ form.body(class="ckeditor") }}
            {{ wtf.form_field(form.version_intro) }}
            {{ wtf.form_field(form.submit) }}
            {{ form.csrf_token }}
        </form>
    </div>
    <div class="post-tabs">
        <ul class="nav nav-tabs">
            <li {% if not show_followed %} class="active" {% endif %}>
                <a href="{{ url_for('.show_all') }}">显示全部</a>
            </li>
            {% if current_user.is_authenticated %}
                <li {% if show_followed %} class="active" {% endif %}>
                    <a href="{{ url_for('.show_followed') }}">关注的人</a>
                </li>
            {% endif %}
        </ul>
    </div>
    {% include '_posts.html' %}
    <div>
        {{ macros.pagination_widget(pagination, '.index') }}
    </div>
    <p>{{ moment(current_time).format('LLL') }}</p>
{% endblock %}
